<img src="img/Marca-ITBA-Color-ALTA.png" width="200">

# Programación para el Análisis de Datos

## Clase 3 - Pandas - práctica

In [1]:
import numpy as np
import pandas as pd

### Ejercicio 1


* Crear un dataframe que contenga la siguiente información:


|    |  Nombre             | Posición | Número
|---:|:---------           | :----    |:----
|  0 | Nery Pumpido        | ARQ      | 18
|  1 | José Cuciuffo       | DEF      | 9
|  2 | José Luis Brown     | DEF      | 5
|  3 | Oscar Ruggeri       | DEF      | 19
|  4 | Sergio Batista      | MED      | 2
|  5 | Ricardo Giusti      | MED      | 14
|  6 | Jorge Burruchaga    | MED      | 7
|  7 | Héctor Enrique      | MED      | 12
|  8 | Julio Olarticoechea | MED      | 16
|  9 | Jorge Valdano       | DEL      | 11
|  10| Diego Maradona      | DEL      | 10

In [2]:
### Completa con tu código aquí:
data = {'Nombre': ['Nery Pumpido', 'José Cuciuffo', 'José Luis Brown', 'Oscar Ruggeri', 'Sergio Batista', 'Ricardo Giusti', 'Jorge Burruchaga', 'Héctor Enrique', 'Julio Olarticoechea', 'Jorge Valdano', 'Diego Maradona'],
        'Posición': ['ARQ', 'DEF', 'DEF', 'DEF', 'MED', 'MED', 'MED', 'MED', 'MED', 'DEL', 'DEL'],
        'Número': [18, 9, 5, 19, 2, 14, 7, 12, 16, 11, 10]}

df1 = pd.DataFrame(data)

display(df1)

                 Nombre Posición  Número
0          Nery Pumpido      ARQ      18
1         José Cuciuffo      DEF       9
2       José Luis Brown      DEF       5
3         Oscar Ruggeri      DEF      19
4        Sergio Batista      MED       2
5        Ricardo Giusti      MED      14
6      Jorge Burruchaga      MED       7
7        Héctor Enrique      MED      12
8   Julio Olarticoechea      MED      16
9         Jorge Valdano      DEL      11
10       Diego Maradona      DEL      10

### Ejercicio 2

* A partir del dataframe creado, generar una serie con el nombre de los mediocampistas

**Ayuda:** usar una máscara booleana

In [7]:
### Completa con tu código aquí:
df1['Nombre'].apply(lambda x: x[:x.rfind(' ')])

0          Nery
1          José
2     José Luis
3         Oscar
4        Sergio
5       Ricardo
6         Jorge
7        Héctor
8         Julio
9         Jorge
10        Diego
Name: Nombre, dtype: object

### Ejercicio 3

* Mostrar un dataframe con el nombre y el número de todos los jugadores con número de camiseta par

In [8]:
### Completa con tu código aquí:
df1['SoloNombre'] = df1['Nombre'].apply(lambda x: x[:x.rfind(' ')])
df1.loc[df1['Número'] % 2 == 0, ['SoloNombre', 'Número']]

   SoloNombre  Número
0        Nery      18
4      Sergio       2
5     Ricardo      14
7      Héctor      12
8       Julio      16
10      Diego      10

### Ejercicio 4

* Importar con pandas el dataset **'data/US Presidential Election Results - ResultsByTurnout.csv'**


* Mirar qué tipo de datos hay en cada columna y si hay valores nulos

In [15]:
### Completa con tu código aquí:
election_df = pd.read_csv('data/US Presidential Election Results - ResultsByTurnout.csv')

election_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ElectionYear         59 non-null     int64
 1   Turnout(%)           59 non-null     float64
 2   TotalVotes           59 non-null     object
 3   TotalElectoralVotes  59 non-null     int64
 4   ElectoralVotesToWin  59 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.4+ KB

### Ejercicio 5

* ¿En qué año se registró el mayor porcentaje de participación (Turnout)? ¿Y el mínimo?

In [31]:
### Completa con tu código aquí:
max_df = election_df.loc[election_df['Turnout(%)'] == election_df['Turnout(%)'].max(),]
max_year = max_df['ElectionYear'].values[0]
max_turnout = max_df['Turnout(%)'].values[0]

min_df = election_df.loc[election_df['Turnout(%)'] == election_df['Turnout(%)'].min(),]
min_year = min_df['ElectionYear'].values[0]
min_turnout = min_df['Turnout(%)'].values[0]

print(f'El año de mayor participación fue {max_year} con una participación del {max_turnout}% y el de menor participación fue {min_year} con una participación del {min_turnout}%')

El año de mayor participación fue 1876 con una participación del 82.6% y el de menor participación fue 1792 con una participación del 6.3%

### Ejercicio 6

* Convertir la columna TotalVotes  que es de tipo 'object' a tipo numérico. Para ello es necesario eliminar las comas que indican miles. 

**Ayuda:** aplicar los métodos str.replace(...) y luego .astype(...) sobre la serie TotalVotes

In [35]:
### Completa con tu código aquí:
election_df['TotalVotes'] = election_df['TotalVotes'].str.replace(',', '').astype(int)

election_df.head()

,ElectionYear,Turnout(%),TotalVotes,TotalElectoralVotes,ElectoralVotesToWin,TotalVotesSanitized
0,1788,11.6,39624,69,35,39624
1,1792,6.3,28300,132,66,28300
2,1796,20.1,66841,138,69,66841
3,1800,32.3,75142,138,69,75142
4,1804,23.8,143029,176,88,143029

### Ejercicio 7

* Generar una nueva columna que contenga la cantidad de gente empadronada (ElectoralRoll). Calcularlo a partir del número total de votos registrados (TotalVotes) y el porcentaje de participación (Turnout(%))

In [37]:
### Completa con tu código aquí:
election_df['ElectoralRoll'] = ((100 *election_df['TotalVotes']) / election_df['Turnout(%)']).round(0)

election_df.head()

,ElectionYear,Turnout(%),TotalVotes,TotalElectoralVotes,ElectoralVotesToWin,TotalVotesSanitized,ElectoralRoll
0,1788,11.6,39624,69,35,39624,341586.0
1,1792,6.3,28300,132,66,28300,449206.0
2,1796,20.1,66841,138,69,66841,332542.0
3,1800,32.3,75142,138,69,75142,232638.0
4,1804,23.8,143029,176,88,143029,600962.0

### Ejercicio 8

* ¿En qué año se registró por primera vez más del 50% de participación?

In [41]:
### Completa con tu código aquí:
election_50_participation_df = election_df.loc[election_df['Turnout(%)'] > 50, ]['ElectionYear'].min()

print(f'El año de la primera participación del 50% fue {election_50_participation_df}')

El año de la primera participación del 50% fue 1828

### Ejercicio 9

* ¿Cuál fue el máximo, mímino, promedio y desvio estandar en el nivel de participación durante siglo XX?

In [47]:
### Completa con tu código aquí:
election_20_century_series = election_df.loc[(election_df['ElectionYear'] >= 1900) & (election_df['ElectionYear'] < 2000), ]['Turnout(%)'].describe()

print('El máximo de participación en el siglo XX fue de', election_20_century_series['max'], 'y el mínimo de', election_20_century_series['min'])
print('El promedio de participación en el siglo XX fue de', election_20_century_series['mean'], 'y el desvio estandar de', election_20_century_series['std'])

El máximo de participación en el siglo XX fue de 73.7 y el mínimo de 48.9
El promedio de participación en el siglo XX fue de 58.548 y el desvio estandar de 5.780002883505624