<img src="img/Marca-ITBA-Color-ALTA.png" width="250">

# Programación para el Análisis de Datos

## Clase 3 parte 2 - ejercitación

In [ ]:
import numpy as np
import pandas as pd

### Ejercicio 1

A partir de la siguiente `Serie` de datos, reemplazar las mayusculas por minusculas

In [ ]:
s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])

In [ ]:
### Tu solución aquí:

### Ejercicio 2

Reemplazar lo nulos (`None` y `np.nan`) de la serie por `'nulo'`

In [ ]:
s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])

In [ ]:
### Tu solución aquí:

### Ejercicio 3

Cambiar el formato de todas las columnas numéricas para que se expresen con 2 posiciones decimales.

Ej: `0.1234`  $\rightarrow$ `0.12`

In [ ]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'skfsalf', 'sdfslew', 'safsdf'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [123.485, 233.3312, 22.5000, 2566.5520, 23.158070],
    'unit_price': [1.999, 23.3333, 0.225000, 15.6875, 0.0051]})
df

In [ ]:
### Completa con tu código aquí

###

### Ejercicio 4

Obtener el largo del texto que aparece en la columna `texto` y almacenarlo en la columna `text_len`.

In [ ]:
df = pd.DataFrame({
    'texto': ["Quisque",
            "Mauris",
            "Vest4bulum,",
            "A 231",
            "lñgula"]
})

In [ ]:
### Completa con tu código aquí

###